@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
body {
    background-color: rgb(255, 255, 255);
    background-image: url("./saolr_header_mobile_2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Bubblegum Sans', sans-serif;
}

h1 {
    background-color: #004b7671;
    color: rgb(251, 255, 0);
    text-align: center;
}

h2 {
    color: #3459ff
}

p {
    color: #004B76
}

div {
    height: 300px;
    background-image: url("./banner.jpg");
    background-repeat: repeat;
    background-position-x: right;
    background-attachment: fixed;
    background-size: cover;

}

section{
    text-align: center;
}

article {
    display: inline-block;  
    margin: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    border: black 5px solid;
}

article img {
    width: 300px;

}
h3{
    color: #8200F4;
}
h4{
    color: #2E00BC;
}
h5{
    color: #000CF5;
}
h6{
    color: #004B76;
}